<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="PsgPersis" transaction-type="RESOURCE_LOCAL">
    <class>beans.Actividades</class>
    <class>beans.Retos</class>
    <class>beans.HandZonas</class>
    <class>beans.HandCategoriaEquipo</class>
    <class>beans.HandHrealOper</class>
    <class>beans.TrUsuarios</class>
    <class>beans.HandDistc</class>
    <class>beans.HandPlanif</class>
    <class>beans.HandPlantaEstCuad</class>
    <class>beans.MedallasUsuario</class>
    <class>beans.MedallasusuRetos</class>
    <class>beans.HandTurnos</class>
    <class>beans.VHandDesviosTiempos</class>
    <class>beans.HandMot</class>
    <class>beans.HandEquipos</class>
    <class>beans.MedallasplantRetos</class>
    <class>beans.HandCuadrante</class>
    <class>beans.MedallasAlmacen</class>
    <class>beans.HandPlanifHist</class>
    <class>beans.HandHreal</class>
    <class>beans.HandPlantas</class>
    <class>beans.TrUsuariosRoles</class>
    <class>beans.HandEstaciones</class>
    <class>beans.HandTiempos</class>
    <class>beans.HandTipoTiempo</class>
    <class>beans.HandTipoMovimientos</class>
    <class>beans.HandExcep</class>
    <class>beans.Recompensas</class>
    <class>entidades.HandZonas</class>
    <class>entidades.HandTipoTiempo</class>
    <class>entidades.MedallasusuRetos</class>
    <class>entidades.MedallasUsuario</class>
    <class>entidades.Recompensas</class>
    <class>entidades.HandHrealOper</class>
    <class>entidades.HandTipoMovimientos</class>
    <class>entidades.HandCategoriaEquipo</class>
    <class>entidades.HandPlanif</class>
    <class>entidades.NivelesActividad</class>
    <class>entidades.TrUsuariosRoles</class>
    <class>entidades.HandPlanifHist</class>
    <class>entidades.HandHreal</class>
    <class>entidades.HandMot</class>
    <class>entidades.MedallasplantRetos</class>
    <class>entidades.HandCuadrante</class>
    <class>entidades.NombreRetos</class>
    <class>entidades.VHandDesviosTiempos</class>
    <class>entidades.HandTiempos</class>
    <class>entidades.HandPlantas</class>
    <class>entidades.HandExcep</class>
    <class>entidades.TipoActividad</class>
    <class>entidades.HandDistc</class>
    <class>entidades.HandTurnos</class>
    <class>entidades.HandPlantaEstCuad</class>
    <class>entidades.HandEquipos</class>
    <class>entidades.HandDesviosTiempos2</class>
    <class>entidades.MedallasAlmacen</class>
    <class>entidades.HandEstaciones</class>
    <class>entidades.TrUsuarios</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
  </persistence-unit>
</persistence>
